/* Header */

.header {
    background-color: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

/* End Header */

/* Body */

.body .sider {
    width: 150px;
    background-color: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 150px);
}

/*  End  Body */

/* Image preview */
.preview-img {
    object-fit: cover;
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

.preview-img[src=""] {
    display: none;
}

/* End Image preview */

/* Form validate */
.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .error-message {
    color: #f33a58;
}

/* End form validate */
