mixin getCategories(category, level=1, categoryId="") 
    //- Check if subTtileObject not undefined
    if(category)
        //- Create "--" for each level
        - let prefix = Array(level).join('-- ')
        option(value=category._id selected=(category._id==categoryId ? true:false)) #{prefix}#{category.title}
        if (category.subCategory)
            each item in category.subCategory
                +getCategories(item, level + 1, categoryId)