extends ../../layouts/default.pug 

//- Import box-head
include ../../mixin/box-head.pug

//- Import sreach
include ../../mixin/search.pug

//- Import products layout
include ../../mixin/products-layouts.pug

block main 
    .container.my-3 
        .row
            .col-12
                +box-head('Danh sách sản phẩm!')
        .row 
            .col-6 
                +search(searchFind)
        .row 
            +products-grid(products)
    //- Link js
    script(src="/js/script.js")