extends ../../layouts/default.pug 

//- Import box-head
include ../../mixin/box-head.pug

//- Import products layout
include ../../mixin/products-layouts.pug

block main 
    .container.my-3 
        .row
            .col-12
                +box-head('Danh sách sản phẩm!')
        .row 
            .col-3 
                h2
                    a(href='/product') Danh mục sản phẩm 
                ul
                    for category in categories
                        li 
                            a(href=`/product/category/${category.slug}`) #{category.title}
            .col-9
                .row
                    +products-grid(products)
    //- Link js
    script(src="/js/script.js")