extends ../../layouts/default.pug 

//- Include box-head title
include ../../mixin/box-head.pug

//- Include products layout
include ../../mixin/products-layouts.pug

block main 
    h1 Trang chủ
    .container.my-3 
        .row
            .col-12
                +box-head('Sản phẩm nổi bật!')
        .row 
            +products-grid(products)

    .container.my-3 
        .row
            .col-12
                +box-head('Sản phẩm mới nhất!')
        .row 
            +products-grid(newProducts)
